In [1]:
#Import libraries
import numpy as np
import pandas as pd

In [2]:
#Load data
pop_data = pd.read_csv('ltla/census2021-ts001-ltla_population.csv')
pop_den_data=pd.read_csv('ltla/census2021-ts006-ltla_pop_density.csv')
gen_health_data=pd.read_csv('ltla/census2021-ts037-ltla_gen_health.csv')
gen_health_agestd_data=pd.read_csv('ltla/census2021-ts037asp-ltla_gen_health_agestd.csv')
accom_type_data=pd.read_csv('ltla/census2021-ts044-ltla_accom_type.csv')
car_van_availability_data=pd.read_csv('ltla/census2021-ts045-ltla_car_van_availability.csv')
dist_to_work_data=pd.read_csv('ltla/census2021-ts058-ltla_dist_to_work.csv')
hrs_worked_data=pd.read_csv('ltla/census2021-ts059-ltla_hrs_wrkd.csv')
industry_data=pd.read_csv('ltla/census2021-ts060-ltla_industry.csv')
method_of_wrk_travel_data=pd.read_csv('ltla/census2021-ts061-ltla_method-of_travel_to_work.csv')
ns_sec_data=pd.read_csv('ltla/census2021-ts062-ltla_NS_SEC.csv')
occupation_data=pd.read_csv('ltla/census2021-ts063-ltla_occupation.csv')

In [3]:
# Remove columns 'column_name1' and 'column_name2'
pop_columns_to_remove = [4,5]
pop_data_fin = pop_data.drop(pop_data.columns[pop_columns_to_remove], axis=1)
# Rename column
column_number = 3 
# Specify the new column name
new_column_name = 'total_population' 
# Rename the column by column number
pop_data_fin.columns.values[column_number] = new_column_name
#pop_data_fin

In [4]:
pop_den_data_fin=[]
pop_den_data_fin=pop_den_data
# Rename column
column_number = 3 
# Specify the new column name
new_column_name = 'population_density' 
# Rename the column by column number
pop_den_data_fin.columns.values[column_number] = new_column_name

In [5]:
gen_health_agestd_data_fin=[]
gen_health_agestd_data_fin=gen_health_agestd_data
# Rename column
column_number = 3 
# Specify the new column name
new_column_name = 'VGH' 
# Rename the column by column number
gen_health_agestd_data_fin.columns.values[column_number] = new_column_name

column_number = 4
# Specify the new column name
new_column_name = 'GH' 
# Rename the column by column number
gen_health_agestd_data_fin.columns.values[column_number] = new_column_name

column_number = 5
# Specify the new column name
new_column_name = 'FH' 
# Rename the column by column number
gen_health_agestd_data_fin.columns.values[column_number] = new_column_name

column_number = 6
# Specify the new column name
new_column_name = 'BH' 
# Rename the column by column number
gen_health_agestd_data_fin.columns.values[column_number] = new_column_name

column_number = 7
# Specify the new column name
new_column_name = 'VBH' 
# Rename the column by column number
gen_health_agestd_data_fin.columns.values[column_number] = new_column_name

In [6]:
car_van_availability_data_fin=car_van_availability_data
column_number = 3
# Specify the new column name
new_column_name = 'Tot_Household_Cnt' 
# Rename the column by column number
car_van_availability_data_fin.columns.values[column_number] = new_column_name

column_number = 4
# Specify the new column name
new_column_name = 'HHCnt_0_CarorVan' 
# Rename the column by column number
car_van_availability_data_fin.columns.values[column_number] = new_column_name

column_number = 5
# Specify the new column name
new_column_name = 'HHCnt_1_CarorVan' 
# Rename the column by column number
car_van_availability_data_fin.columns.values[column_number] = new_column_name

column_number = 6
# Specify the new column name
new_column_name = 'HHCnt_2_CarorVan' 
# Rename the column by column number
car_van_availability_data_fin.columns.values[column_number] = new_column_name

column_number = 7
# Specify the new column name
new_column_name = 'HHCnt_GtorEq3_CarorVan' 
# Rename the column by column number
car_van_availability_data_fin.columns.values[column_number] = new_column_name

In [7]:
dist_to_work_data_fin=dist_to_work_data
column_number = 3
# Specify the new column name
new_column_name = 'Tot_Rsdnts_inEmplymnt' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 4
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_lt2Km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 5
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq2kmlt5km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 6
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq5kmlt10km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name


column_number = 7
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq10kmlt20km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 8
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq20kmlt30km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 9
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq30kmlt40km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 10
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq40kmlt60km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 11
# Specify the new column name
new_column_name = 'RsdntCnt_wrktrvl_gteq60km' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name


column_number = 12
# Specify the new column name
new_column_name = 'RsdntCnt_wrkfrmhme' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

column_number = 13
# Specify the new column name
new_column_name = 'RsdntCnt_wrkatoffshore' 
# Rename the column by column number
dist_to_work_data_fin.columns.values[column_number] = new_column_name

In [ ]:
hrs_worked_data_fin = hrs_worked_data

column_number = 3
# Specify the new column name
new_column_name = 'Tot_Rsdnts_inEmplymnt' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name

column_number = 4
# Specify the new column name
new_column_name = 'Tot_Rsdnts_inPartTime' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name


column_number = 5
# Specify the new column name
new_column_name = 'Rsdnts_ptwrk_lteq15hrs' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name

column_number = 6
# Specify the new column name
new_column_name = 'Rsdnts_ptwrk_16to30hrs' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name

column_number = 7
# Specify the new column name
new_column_name = 'Tot_Rsdnts_inFullTime' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name

column_number = 8
# Specify the new column name
new_column_name = 'Rsdnts_ftwrk_31to48hrs' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name

column_number = 9
# Specify the new column name
new_column_name = 'Rsdnts_ftwrk_gteq49hrs' 
# Rename the column by column number
hrs_worked_data_fin.columns.values[column_number] = new_column_name

In [11]:
industry_data.head(10)

,date,geography,geography code,Industry (current): Total: All usual residents aged 16 years and over in employment the week before the census,"Industry (current): A: Agriculture, Forestry and fishing","Industry (current): 01 Crop and animal production, hunting and related service activities",Industry (current): 02 Forestry and logging,Industry (current): 03 Fishing and aquaculture,Industry (current): B: Mining and quarrying,Industry (current): 05 Mining of coal and lignite,...,"Industry (current): 90 Creative, arts and entertainment activities","Industry (current): 91 Libraries, archives, museums and other cultural activities",Industry (current): 92 Gambling and betting activities,Industry (current): 93 Sports activities and amusement and recreation activities,Industry (current): 94 Activities of membership organisations,Industry (current): 95 Repair of computers and personal and household goods,Industry (current): 96 Other personal service activities,Industry (current): 97 Activities of households as employers of domestic personnel,Industry (current): 98 Undifferentiated goods- and services-producing activities of private households for own use,Industry (current): 99 Activities of extraterritorial organisations and bodies
0,2021,Hartlepool,E06000001,37749,149,117,0,32,428,5,...,139,61,113,277,145,22,575,8,0,1
1,2021,Middlesbrough,E06000002,56431,82,75,3,4,604,5,...,209,44,138,395,238,48,897,9,0,1
2,2021,Redcar and Cleveland,E06000003,55620,283,241,9,33,1052,70,...,246,113,134,503,174,51,1045,14,0,2
3,2021,Stockton-on-Tees,E06000004,86447,259,245,7,7,938,9,...,351,94,211,790,297,44,1429,11,0,2
4,2021,Darlington,E06000005,49295,311,297,12,2,135,2,...,201,75,61,466,190,56,773,12,0,2
5,2021,County Durham,E06000047,222212,2329,2237,80,12,810,82,...,969,596,488,1854,1044,241,3709,66,0,11
6,2021,Northumberland,E06000057,140780,3830,3417,243,170,810,67,...,863,507,277,1603,673,124,2494,79,1,9
7,2021,Newcastle upon Tyne,E08000021,125084,163,155,1,7,354,6,...,1173,299,420,1052,712,125,1532,25,0,5
8,2021,North Tyneside,E08000022,97270,145,97,4,44,538,6,...,624,180,282,775,479,74,1442,18,0,8
9,2021,South Tyneside,E08000023,62517,61,48,2,11,511,13,...,291,96,217,453,268,35,1024,10,0,3

In [16]:
new_column_names

[]

In [ ]:
industry_data_fin=[]
industry_data_fin = industry_data

new_column_names=list()
new_column_names=[
'date'
,'geography'
,'geography code'
,'Tot_Rsdnts_inEmplymnt'
,'Tot_Rsdnts_inIndsA'
,'Rsdnts_inIndsA01'
,'Rsdnts_inIndsA02'
,'Rsdnts_inIndsA03'
,'Tot_Rsdnts_inIndsB'
,'Rsdnts_inIndsB05'
,'Rsdnts_inIndsB06'
,'Rsdnts_inIndsB07'
,'Rsdnts_inIndsB08'
,'Rsdnts_inIndsB09'
,'Tot_Rsdnts_inIndsC'
,'Rsdnts_inIndsC10'
,'Rsdnts_inIndsC11'
,'Rsdnts_inIndsC12'
,'Rsdnts_inIndsC13'
,'Rsdnts_inIndsC14'
,'Rsdnts_inIndsC15'
,'Rsdnts_inIndsC16'
,'Rsdnts_inIndsC17'
,'Rsdnts_inIndsC18'
,'Rsdnts_inIndsC19'
,'Rsdnts_inIndsC20'
,'Rsdnts_inIndsC21'
,'Rsdnts_inIndsC22'
,'Rsdnts_inIndsC23'
,'Rsdnts_inIndsC24'
,'Rsdnts_inIndsC25'
,'Rsdnts_inIndsC26'
,'Rsdnts_inIndsC27'
,'Rsdnts_inIndsC28'
,'Rsdnts_inIndsC29'
,'Rsdnts_inIndsC30'
,'Rsdnts_inIndsC31'
,'Rsdnts_inIndsC32'
,'Rsdnts_inIndsC33'
,'Tot_Rsdnts_inIndsD'
,'Rsdnts_inIndsD35'
,'Tot_Rsdnts_inIndsE'
,'Rsdnts_inIndsE36'
,'Rsdnts_inIndsE37'
,'Rsdnts_inIndsE38'
,'Rsdnts_inIndsE39'
,'Tot_Rsdnts_inIndsF'
,'Rsdnts_inIndsF414243'
,'Tot_Rsdnts_inIndsG'
,'Rsdnts_inIndsG45'
,'Rsdnts_inIndsG46'
,'Rsdnts_inIndsG47'
,'Rsdnts_inIndsG48'
,'Tot_Rsdnts_inIndsH'
,'Rsdnts_inIndsH49'
,'Rsdnts_inIndsH50'
,'Rsdnts_inIndsH51'
,'Rsdnts_inIndsH52'
,'Rsdnts_inIndsH53'
,'Tot_Rsdnts_inIndsI'
,'Rsdnts_inIndsI55'
,'Rsdnts_inIndsI56'
,'Tot_Rsdnts_inIndsJ'
,'Rsdnts_inIndsJ58'
,'Rsdnts_inIndsJ59'
,'Rsdnts_inIndsJ60'
,'Rsdnts_inIndsJ61'
,'Rsdnts_inIndsJ62'
,'Rsdnts_inIndsJ63'
,'Tot_Rsdnts_inIndsK'
,'Rsdnts_inIndsK64'
,'Rsdnts_inIndsK65'
,'Rsdnts_inIndsK66'
,'Tot_Rsdnts_inIndsL'
,'Rsdnts_inIndsL68'
,'Tot_Rsdnts_inIndsM'
,'Rsdnts_inIndsM69'
,'Rsdnts_inIndsM70'
,'Rsdnts_inIndsM71'
,'Rsdnts_inIndsM72'
,'Rsdnts_inIndsM73'
,'Rsdnts_inIndsM74'
,'Rsdnts_inIndsM75'
,'Tot_Rsdnts_inIndsN'
,'Rsdnts_inIndsN77'
,'Rsdnts_inIndsN78'
,'Rsdnts_inIndsN79'
,'Rsdnts_inIndsN80'
,'Rsdnts_inIndsN81'
,'Rsdnts_inIndsN82'
,'Tot_Rsdnts_inIndsO'
,'Rsdnts_inIndsO84'
,'Tot_Rsdnts_inIndsP'
,'Rsdnts_inIndsP85'
,'Tot_Rsdnts_inIndsQ'
,'Rsdnts_inIndsQ86'
,'Rsdnts_inIndsQ87'
,'Rsdnts_inIndsQ88'
,'Tot_Rsdnts_inIndsRSTUOther'
,'Rsdnts_inIndRSTUOther90'
,'Rsdnts_inIndRSTUOther91'
,'Rsdnts_inIndRSTUOther92'
,'Rsdnts_inIndRSTUOther93'
,'Rsdnts_inIndRSTUOther94'
,'Rsdnts_inIndRSTUOther95'
,'Rsdnts_inIndRSTUOther96'
,'Rsdnts_inIndRSTUOther97'
,'Rsdnts_inIndRSTUOther98'
,'Rsdnts_inIndRSTUOther99'

]

column_mapping = dict(zip(industry_data_fin.columns, new_column_names))
industry_data_fin.rename(columns=column_mapping, inplace=True)

In [20]:
method_of_wrk_travel_data_fin = method_of_wrk_travel_data

new_column_names=list()
new_column_names=[
    'date'
,'geography'
,'geography code'
,'Tot_Rsdnts_inEmplymnt'
,'RsdntsCnt_wfh'
,'RsdntsCnt_undgrndmetro_lightrail_tram'
,'RsdntsCnt_train'
,'RsdntsCnt_bus_minibus_coach'
,'RsdntsCnt_taxi'
,'RsdntsCnt_motorcycle_moped_scooter'
,'RsdntsCnt_driving_carorvan'
,'RsdntsCnt_bicycle'
,'RsdntsCnt_onfoot'
,'RsdntsCnt_other'
]
column_mapping = dict(zip(method_of_wrk_travel_data_fin.columns, new_column_names))
method_of_wrk_travel_data_fin.rename(columns=column_mapping, inplace=True)

,date,geography,geography code,Method of travel to workplace: Total: All usual residents aged 16 years and over in employment the week before the census,Method of travel to workplace: Work mainly at or from home,"Method of travel to workplace: Underground, metro, light rail, tram",Method of travel to workplace: Train,"Method of travel to workplace: Bus, minibus or coach",Method of travel to workplace: Taxi,"Method of travel to workplace: Motorcycle, scooter or moped",Method of travel to workplace: Driving a car or van,Method of travel to workplace: Passenger in a car or van,Method of travel to workplace: Bicycle,Method of travel to workplace: On foot,Method of travel to workplace: Other method of travel to work
0,2021,Hartlepool,E06000001,37750,6570,33,269,1241,639,73,22448,2276,561,3131,509
1,2021,Middlesbrough,E06000002,56436,9478,28,469,2264,2050,99,30745,4060,1121,5129,993
2,2021,Redcar and Cleveland,E06000003,55622,10019,19,556,1592,758,126,33885,3032,632,4096,907
3,2021,Stockton-on-Tees,E06000004,86443,18809,45,526,2256,1319,195,50924,4392,1260,5439,1278
4,2021,Darlington,E06000005,49296,11962,18,403,1405,720,122,25487,2742,966,4982,489
5,2021,Halton,E06000006,58707,14548,26,470,1916,492,232,31780,3231,1182,4296,534
6,2021,Warrington,E06000007,103191,32647,51,686,2056,764,408,52839,4639,2552,5666,883
7,2021,Blackburn with Darwen,E06000008,63558,12388,32,522,1568,2120,196,35313,4279,445,6018,677
8,2021,Blackpool,E06000009,59362,12013,262,321,3381,948,333,29376,3481,1375,7004,868
9,2021,"Kingston upon Hull, City of",E06000010,117789,15534,41,414,8903,1497,969,61237,9104,8169,10676,1245

In [ ]:
ns_sec_data

In [ ]:
occupation_data