In [1]:
#Import libraries
import numpy as np
import pandas as pd

In [6]:
#Load data
pop_data = pd.read_csv('ltla/census2021-ts001-ltla_population.csv')
pop_den_data=pd.read_csv('ltla/census2021-ts006-ltla_pop_density.csv')
gen_health_data=pd.read_csv('ltla/census2021-ts037-ltla_gen_health.csv')
gen_health_agestd_data=pd.read_csv('ltla/census2021-ts037asp-ltla_gen_health_agestd.csv')
accom_type_data=pd.read_csv('ltla/census2021-ts044-ltla_accom_type.csv')
car_van_availability_data=pd.read_csv('ltla/census2021-ts045-ltla_car_van_availability.csv')
dist_to_work_data=pd.read_csv('ltla/census2021-ts058-ltla_dist_to_work.csv')
hrs_worked_data=pd.read_csv('ltla/census2021-ts059-ltla_hrs_wrkd.csv')
industry_data=pd.read_csv('ltla/census2021-ts060-ltla_industry.csv')
method_of_wrk_travel_data=pd.read_csv('ltla/census2021-ts061-ltla_method-of_travel_to_work.csv')
ns_sec_data=pd.read_csv('ltla/census2021-ts062-ltla_NS_SEC.csv')
occupation_data=pd.read_csv('ltla/census2021-ts063-ltla_occupation.csv')

In [9]:
ns_sec_data

,date,geography,geography code,National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over,"National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations","National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations",National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations,National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers,National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations,National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations,National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations,National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed,National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students
0,2021,Hartlepool,E06000001,74686,5272,12650,8244,5595,5062,11056,11738,10531,4538
1,2021,Middlesbrough,E06000002,113938,7687,17342,12235,7900,6759,15840,17160,17460,11555
2,2021,Redcar and Cleveland,E06000003,112341,8273,19920,12435,8897,8961,17123,16788,13910,6034
3,2021,Stockton-on-Tees,E06000004,158010,16007,30972,19209,11857,10090,20134,22280,17954,9507
4,2021,Darlington,E06000005,88105,9125,17147,10890,7303,5230,11383,13399,8992,4636
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2021,Torfaen,W06000020,75114,6516,14229,9378,5741,5360,11045,12337,6658,3850
327,2021,Monmouthshire,W06000021,78239,12371,18369,8437,9727,4120,8341,8562,4628,3684
328,2021,Newport,W06000022,127423,14007,24712,16297,9666,7423,15766,19016,12517,8019
329,2021,Powys,W06000023,112536,11241,22709,11468,21163,6749,14183,13144,7042,4837
330,2021,Merthyr Tydfil,W06000024,47677,3188,8289,5666,3844,3508,6878,8390,5194,2720